<h1 class="text-2xl font-bold mb-4">Admin Panel</h1>

<p class="">Welcome, <%= current_user.email %> 👋</p>
<p class="text-sm text-gray-600 mb-6">Your role is: <%= current_user.role %></p>

<div class="mb-4">
  <%= link_to "Upload new video", new_admin_video_path, class: "bg-green-600 text-white px-4 py-2 rounded" %>
  <%= link_to "View all videos", admin_videos_path, class: "ml-4 text-blue-600 underline" %>
</div>

<h2 class="text-xl font-semibold mt-6 mb-4">Latest videos uploaded</h2>

<ul class="space-y-4">
  <% if @videos.empty? %>
    <li class="border p-4 rounded bg-gray-100 text-center text-gray-500 w-1/2">
      <%= t('.no_videos_uploaded', default: 'No videos uploaded yet.') %>
    </li>
  <% end %>
  <% @videos.each do |video| %>
    <li class="flex justify-between items-center w-1/2 border p-4 rounded bg-background shadow">
      <h3 class="font-semibold"><%= video.title %></h3>
      <div class="flex items-center">
        <%= link_to admin_video_path(video), target: "_blank", class: "flex items-center gap-2 p-2 text-primary hover:text-primary/90 hover:bg-secondary" do %>
          <%= lucide_icon("eye", class: "w-4 h-4") %>
          <%= t(".view") %>
        <% end %>
        <%= link_to admin_video_path(video), data: { turbo_method: :delete, turbo_confirm: t('.confirmation') }, class: "flex items-center gap-2 p-2 text-red-600 hover:text-red-400 hover:bg-secondary" do %>
          <%= lucide_icon("trash", class: "w-4 h-4") %>
          <%= t('.delete') %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>