<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Videoplus" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= turbo_include_tags %>

  </head>

  <body class="bg-background text-foreground font-sans">
    <nav class="flex justify-between items-center p-4 bg-background border-b">
      <div class="font-bold">
        <%= link_to "Video Vault", root_path %>
      </div>
      <div class="flex items-center gap-4">
        <%= nav_link t('.home'), root_path %>
        <% unless user_signed_in? %>
          <%= link_to new_user_session_path, class: "flex items-center gap-1 text-foreground" do %>
            <%= lucide_icon("log-in", class: "w-4 h-4") %>
            <%= t(".signin") %>
          <% end %>
          <%= link_to new_user_registration_path, class: "flex items-center gap-1 bg-primary hover:bg-primary/90 text-foreground px-4 py-2 rounded text-sm" do %>
            <%= t(".register") %>
          <% end %>
        <% end %>
      </div>
    </nav>
    <main class="container mx-auto px-1 py-1 sm:py-2 sm:px-6 lg:p-12">
      <div>
        <%= render 'shared/flash' %>
      </div>
      <div class="min-h-full">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
