<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Videoplus" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <%= turbo_include_tags %>

  </head>

  <body class="bg-background text-foreground font-sans">
    <nav class="flex justify-between items-center p-4 bg-white border-b">
      <div class="font-bold">
        <%= link_to "Video Vault", root_path %>
      </div>
      <div class="flex items-center gap-4">
        <%= nav_link t('.home'), root_path %>
        <%= nav_link t('.invitations'), user_invitations_path %>
        <%= nav_link t('.new_invitation'), new_user_invitation_path %>
        <%= link_to t('.sign_out'), destroy_user_session_path, method: :delete, data: { turbo_method: :delete, turbo_confirm: t('.delete_session_confirmation') }, class: "text-red-600" %>
      </div>
    </nav>
    <main class="container mx-auto px-1 py-1 sm:py-2 sm:px-6 lg:p-12">
      <div>
        <%= render 'shared/flash' %>
      </div>
      <div class="min-h-full">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
